@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #3f4c6b, #606c88);
}

.App {
    width: 960px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    position: relative;
}

main {
    margin-top: 50px;
    position: relative;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
